$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// 森林总面积
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// 造林总面积
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// 能源消耗
$color-tertiary-dark: #e83f62;
$color-tertiary-light: #d1a5a4;

// 固碳
$color-fourth-light: #2998ff;
$color-fourth-dark: #5643fa;
